# Configuración de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://222222.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...
SUPABASE_SERVICE_ROLE_KEY=sb_

# Secreto de cifrado
# Mínimo 32 caracteres para AES-256
ENCRYPTION_SECRET=m
NEXT_PUBLIC_ENCRYPTION_SECRET=m

# Secreto JWT para autenticación
JWT_SECRET=m

# Resend API Key
RESEND_API_KEY=re
OPENROUTER_API_KEY=sk

# Configuración de hCaptcha
NEXT_PUBLIC_HCAPTCHA_SITEKEY=2
HCAPTCHA_SECRET_KEY=E
